fastapi
uvicorn[standard]
python-multipart
sentence-transformers
transformers
torch
librosa
openai-whisper
numpy
scipy
scikit-learn
neo4j
python-dotenv
requests
aiofiles
python-socketio
python-engineio
language_tool_python
vaderSentiment
